<div class="max-w-md w-full space-y-8">
    <div class="text-center">
        <h2 class="mt-6 text-3xl font-bold text-gray-900">Recuperar contraseña</h2>
        <p class="mt-2 text-sm text-gray-500"> Ingresa tu correo para restablecer tu contraseña.</p>
    </div>
    <form class="mt-8 space-y-6">
        <div class="relative">
            <label for="forgotpasswordemail" class="ml-3 text-sm font-bold text-gray-700 tracking-wide">Correo Electrónico</label>
            <input id="forgotpasswordemail" autocomplete="email" type="email" placeholder="ejemplo@institucion.edu" class="w-full text-base px-4 py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" />
        </div>
        <div>
            <button type="submit" class="w-full flex justify-center bg-gradient-to-r from-indigo-500 to-blue-600 hover:bg-gradient-to-l hover:from-blue-500 hover:to-indigo-600 text-gray-100 p-4 rounded-2xl tracking-wide font-semibold shadow-lg cursor-pointer transition ease-in duration-500">Enviar Instrucciones</button>
        </div>
        <div class="text-center mt-6">
            <a routerLink="/auth/login" class="text-indigo-400 hover:text-blue-500 text-sm">Volver al inicio de sesión</a>
        </div>
    </form>
</div>